/* --- Aligner --- */
/* within page/posts */

.home_text {
  max-width: 1171px;
  margin: 30px auto;
  padding: 0 5px;
  text-align: left;
  color:#00394d;
}
.call-out {
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    min-height: 300px;
}
