/* TYPOGRAPHY */
$font-family-main: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-headings: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-logo: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

$monospace: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif !default;
$font-size-code: 0.85em !default;
$font-height-code: 1.3em !default;
$border-radius: 4px !default;

/* PADDING */
$padding-x-large: 23%;
$padding-large: 9%;
$padding-medium: 6%;
$padding-small: 4%;
$padding-x-small: 3%;
$title-padding: 1%;
$feature-image-padding: 10%;

/* MOBILE */
$xl-break: 2000px;
$l-break: 1400px;
$m-break: 1000px;
$break: 768px;
$sm-break: 576px;
$x-sm-break: 320px;

/* THEME COLOR SCHEMES */
:root {
  --background: #ffffff;
  --blockquote: #eef7fa;
  --selection: #d4d4d4;
  --meta: #595959;
  --link: #0072B5;
  --header-background: #24292e;
  --header-text: #ffffff;
  --header-link: #383838;
  --code-background: #E0E0E0;
  --code-inline: #24292e;
  --text-shadow: #3f3f3f;
  --text: #262626;
  --h1: #262626;
  --h2: #262626;
  --h3: #262626;
  --h4: #262626;
  --h5: #262626;
  --h6: #262626;
  --border: rgba(0, 0, 0, 0.2);
}

/* Brand colors */
$theme-color: #24292e;
$brand-color: #fff;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1);

/* Typography colors */
$text-color: #262626;
$meta: #595959;
$link-color: #0072B5;
$selection-color: #D4D4D4;
$blockquote-color: #EEF7FA;
$blockquote-text: #0087BE;

/* Header colors */
$header-background-color: $theme-color;
$header-link-color: #383838;
$header-text-color: #ffffff;
$navbar-separator-color: #3c3c3c;

/* Feature image for articles */
$feature-image-text-color: #fff;
$feature-image-size: cover;

/* Header description box */
$header-desc-background-color: $theme-color;
$header-desc-text-color: #FFF;

/* Mobile overlay */
$mobile-overlay: rgba(33, 33, 33, 0.85);

/* Post navigation */
$postnav: #b7b7b7;
